:root {
  --pri-color: rgb(136, 13, 30);
  --sec-color: rgb(221, 45, 74);
  --tertiary-color: rgb(242, 106, 141);
  --sup-color: rgb(244, 156, 187);
  --last-color: rgb(203, 238, 243);
  --pri-font: "Croissant One", serif;
  --sec-font: "Mooli", sans-serif;
  --misc-font: "Mukta", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--misc-font);
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

/* Navigaton */

main {
  width: 100%;
  position: relative;
  /* height: 8rem; */
  /* background: #000; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  /* box-shadow: 0.5rem 1rem 2rem rgba(10, 10, 10, 0.15); */
  height: 8rem;
  /* background: #000; */
}

.logo {
  width: 20rem;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
}

.nav-links {
  display: flex;
  width: 80%;
  justify-content: end;
  gap: 1.2rem;
  height: 100%;
}

.nav-item {
  /* border-top: 5px solid #b33; */
  /* background: #000; */
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.85rem 1.2rem;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 8rem;
  background: #fff;
  z-index: 2;
  left: -50%;
  transform: translateX(15%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.help-dropdown {
  transform: translateX(-15%);
}

.help-dropdown a {
  margin-bottom: 2rem;
  transition: all 0.3s ease-in-out;
}

.help-dropdown a:hover {
  transform: scaleX(1.1);
}

.acct-dropdown form,
.help-dropdown {
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.acct-dropdown input {
  margin-bottom: 2rem;
  border: 1px solid var(--pri-color);
  border-radius: 5rem;
  padding: 0.5rem 1.2rem;
}

.acct-dropdown button {
  margin-bottom: 1.2rem;
  background: linear-gradient(var(--pri-color), rgba(10, 10, 10, 0.35));
  color: #fff;
  cursor: pointer;
}

.acct-dropdown p {
  text-align: center;
}

.acct-dropdown a,
.help-dropdown a {
  color: var(--pri-color);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.dropdown:hover a:hover,
.dropdown:hover a,
.nav-item:hover form a {
  color: var(--pri-color);
}

.nav-item:hover {
  background: linear-gradient(var(--pri-color), rgba(10, 10, 10, 0.35));
}

.nav-item:hover a:not(.dropdown a) {
  color: #fff;
}

.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.nav-link {
  color: rgba(10, 10, 10, 0.65);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

/* End Navigaton */

/* Header */

/* header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
} */

.hero {
  position: relative;
}

.hero-item {
  height: 50vh;
  background: rgba(10, 10, 10, 0.12);
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(10, 10, 10, 0.85));
  background-repeat: no-repeat;
}

.hero-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.ctas {
  position: absolute;
  top: 25%;
  left: 12%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
}

.ctas h1 {
  font-size: 5rem;
  color: #fff;
  font-family: var(--sec-font);
}

.ctas h3 {
  font-size: 2.5rem;
  min-height: 8rem;
  background: linear-gradient(to right, rgba(10, 10, 10, 0.35), rgba(10, 10, 10, 0.5));
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0.85;
  padding: 2rem;
  border-radius: 1.2rem;
}

.ctas h3 span {
  font-family: var(--pri-font);
}

.ctas h3 span:nth-child(1) {
  color: #fff;
}

.ctas h3 span:nth-child(2) {
  color: rgb(255, 220, 78);
}

.ctas h3 span:nth-child(3) {
  color: rgb(78, 240, 255);
}

.ctas button {
  background: var(--pri-color);
  color: #fff;
  padding: 1.2rem 2rem;
  border-radius: 5rem;
  font-family: var(--sec-font);
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.1rem;
  border: 1px solid var(--pri-color);
  transition: all 0.5s;
}

.ctas button:hover {
  background: #fff;
  color: var(--pri-color);
  font-weight: 800;
}

/* End Header */

/* Fixed bottom Navbar */

.fixed-bottom-nav {
  height: 8rem;
  background: linear-gradient(to right, rgba(250, 252, 255, 0.75) 65%, rgba(10, 10, 10, 0.15));
  box-shadow: 0.5rem 1rem 3rem rgba(10, 10, 10, 0.25);
  position: fixed;
  width: 100%;
  bottom: 0rem;
  left: 0rem;
  display: flex;
  justify-content: center;
}

.bottom-nav-wrapper {
  width: 80%;
  /* background: #000; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-nav-wrapper form {
  width: 40%;
}

.search-box {
  width: 50rem;
  position: relative;
}

.search-box input {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  height: 3rem;
  border-radius: 5rem;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  color: rgba(10, 10, 10, 0.65);
  border: 1px solid rgba(168, 168, 168, 0.86);
}

.search-box input::placeholder {
  color: #c4cacf;
  font-family: var(--sec-font);
  letter-spacing: 0.1rem;
}

.search-box .faicon {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #c4cacf;
}

.bottom-nav {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
}

.bottom-nav__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-nav__link .icon {
  width: 4rem;
  height: 4rem;
  background: linear-gradient(var(--pri-color), #fff);
  -webkit-background-clip: text;
  color: var(--pri-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-nav__link:nth-child(2) .icon {
  color: var(--sup-color);
}

.bottom-nav__link:nth-child(3) .icon {
  color: var(--tertiary-color);
}

.bottom-nav__link .faicon {
  font-size: 3rem;
}

.bottom-nav__link span {
  color: rgba(10, 10, 10, 0.85);
  font-size: 1.5rem;
  font-family: var(--misc-font);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 5s;
}

.bottom-nav__link span.default {
  display: none;
}

/* End Fixed bottom Navbar */

/* Categories */

.categories {
  width: 100%;
  height: 120vh;
  position: relative;
}

.cat-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  box-shadow: 0.5rem 1rem 2rem rgba(10, 10, 10, 0.25);
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
}

.category {
  width: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.category h3 {
  font-family: var(--pri-font);
  text-transform: uppercase;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

.category .icon {
  width: 8rem;
  height: 8rem;
  /* background: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#fff, var(--pri-color));
  -webkit-background-clip: text;
  color: var(--pri-color);
}

.category .icon .faicon {
  font-size: 5rem;
}

.category:nth-child(2) .icon {
  background: linear-gradient(#fff, var(--tertiary-color));
  -webkit-background-clip: text;
  color: var(--tertiary-color);
}

.category:nth-child(3) .icon {
  background: linear-gradient(#fff, rgb(225, 225, 114));
  -webkit-background-clip: text;
  color: rgb(56, 113, 103);
}

.category:nth-child(4) .icon {
  background: linear-gradient(#fff, rgb(225, 225, 114));
  -webkit-background-clip: text;
  color: rgb(54, 153, 240);
}

.category:nth-child(5) .icon {
  background: linear-gradient(#fff, rgb(225, 225, 114));
  -webkit-background-clip: text;
  color: rgb(166, 48, 230);
}

.category:nth-child(6) .icon {
  background: linear-gradient(#fff, rgb(225, 225, 114));
  -webkit-background-clip: text;
  color: rgb(135, 170, 186);
}

.category:nth-child(7) .icon {
  background: linear-gradient(#fff, rgb(225, 225, 114));
  -webkit-background-clip: text;
  color: rgb(230, 48, 48);
}

.category:nth-child(8) .icon {
  background: linear-gradient(#fff, rgb(225, 225, 114));
  -webkit-background-clip: text;
  color: rgb(230, 203, 48);
}

.cat-bg {
  height: 40rem;
  width: 40rem;
  border-radius: 50%;
  z-index: -2;
  opacity: 0.35;
}

.cat-bg-1 {
  background: linear-gradient(to right, var(--sec-color) 2%, #fff 80%);
  position: absolute;
  bottom: 15%;
  left: 3%;
  transform: rotateZ(-5deg) skew(10deg);
  /* border-radius: 5rem; */
}

.cat-bg-2 {
  background: linear-gradient(to left, var(--sec-color) 2%, #fff 80%);
  position: absolute;
  top: 15%;
  right: 3%;
  transform: rotateZ(-10deg) skew(-10deg);
  /* border-radius: 5rem; */
}

/* End Categories */

/* Responsive */

@media (max-width: 1200px) {
  .bottom-nav-wrapper form {
    width: 60%;
  }

  .bottom-nav__link span {
    font-size: 1.2rem;
  }
}

@media (max-width: 1020px) {
  .bottom-nav-wrapper form {
    width: 50%;
  }

  .search-box {
    width: 80%;
  }
}

@media (max-width: 740px) {
  .bottom-nav__link span {
    display: none;
  }
}

@media (max-width: 620px) {
  .bottom-nav-wrapper {
    justify-content: center;
  }

  .bottom-nav {
    display: none;
  }

  .bottom-nav-wrapper form {
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-box input {
    width: 100%;
  }
}

/* End Responsive */
