
.h3{
    font-weight: 900;
}
.views{
    font-size: 0.85rem;
}
.btn{
    color: #666;
    font-size: 0.85rem;
}
.btn:hover{
    color: rgb(244, 156, 187);
}
.green-label{
    color: rgb(136, 13, 30);
    background-color: rgb(244, 156, 187);
    border-radius: 5px;
    font-size: 0.8rem;
    margin: 0 3px;
}
.radio,.checkbox{
    padding: 6px 10px;
}
.border{
    border-radius: 12px;
}
.options{
    position: relative;
    padding-left: 25px;
}
.radio label,
.checkbox label{
    display: block;
    font-size: 14px;
    cursor: pointer;
    margin: 0;
}
.options input{
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.options input:checked ~ .checkmark:after {
    display: block;
}
.options .checkmark:after{
    content: "";
	width: 9px;
    height: 9px;
    display: block;
	background: white;
    position: absolute;
    top: 52%;
	left: 51%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark{
    background: rgb(244, 156, 187);
    transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}
.count{
    font-size: 0.8rem;
}
label{
    cursor: pointer;
}
.tick{
    display: block;
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    font-size: 0.8rem;
    margin: 0;
}
.tick input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.check{
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.tick:hover input ~ .check {
    background-color: #f3f3f3;
}
.tick input:checked ~ .check {
    background-color: rgb(244, 156, 187);
}
.check:after {
    content: "";
    position: absolute;
    display: none;
}
.tick input:checked ~ .check:after {
    display: block;
    transform: rotate(45deg) scale(1);
}
.tick .check:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg) scale(2);
}
#country{
    font-size: 0.8rem;
    border: none;
    border-left: 1px solid #ccc;
    padding: 0px 10px;
    outline: none;
    font-weight: 900;
}
.close{
    font-size: 1.2rem;
}
div.text-muted{
    font-size: 0.85rem;
}
.category{
    font-size: 0.9rem;
    cursor: pointer;
}
.list-group-item{
    border: none;
    padding: 0.3rem 0.4rem 0.3rem 0rem;
}
.badge-primary{
    background-color: rgb(244, 156, 187);
    color: rgb(136, 13, 30);
}
.brand .check{
    background-color: #fff;
    top: 3px;
    border: 1px solid #666;
}
.brand .tick{
    font-size: 1rem;
    padding-left: 25px;
}
.rating .check{
    background-color: #fff;
    border: 1px solid #666;
    top: 0;
}
.rating .tick{
    font-size: 0.9rem;
    padding-left: 25px;
}
.rating .fas.fa-star{
    color: #ffbb00;
    padding: 0px 3px;
}
.brand .tick:hover input ~ .check,
.rating .tick:hover input ~ .check{
    background-color: #f9f9f9;
}
.brand .tick input:checked ~ .check,
.rating .tick input:checked ~ .check{
    background-color: rgb(244, 156, 187);
}


@media(min-width:768px) and (max-width:991px){
    .radio, .checkbox {
        padding: 6px 10px;
        width: 49%;
        float: left;
        margin: 5px 5px 5px 0px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .h3 + .ml-auto{
        margin: 0;
    }
}
@media(max-width:575px){
    .wrapper{
        padding: 10px;
    }
    .h3{
        font-size: 1.3rem;
    }
    .btn.text-success{
        padding: 0;
    }
}

/* Event Details*/
ul {
    padding-left: 0;
}
 .grid-system{
	margin-top: 100px;
}

 .event-post {
	margin-bottom: 30px;
}

 .event-thumb img {
	width: 100%;
	overflow: hidden;
}

 .down-content {
	padding: 40px;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

 .down-content span {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 900;
	color:  rgb(136, 13, 30);
}

 .down-content h4 {
	font-size: 24px;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	font-weight: 900;
	color: #20232e;
	margin: 10px 0px 12px 0px;
}

 .down-content h6 {
    font-size: 17px;
}

 .down-content ul.post-info li {
	display: inline-block;
	margin-right: 8px;
}

 .down-content ul.post-info li:after {
	content: '|';
	color: #aaa;
	margin-left: 8px;
}

 .down-content h4 {
	font-size: 20px;
	letter-spacing: 0.25px;
}

.grid-system .down-content ul.post-info li {
	margin-right: 3px;
}

.grid-system .down-content ul.post-info li:after {
	margin-left: 5px;
}

 .down-content ul.post-info li:last-child::after {
	display: none;
}

 .down-content ul.post-info li a {
	font-size: 14px;
	color: #aaa;
	font-weight: 400;
	transition: all .3s;
}

 .down-content ul.post-info li a:hover {
	color:  rgb(136, 13, 30);
}

.info-container {
	padding: 25px 0px;
	margin: 25px 0px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

 .down-content ul.post-share {
	text-align: right;
}

 .down-content ul.post-tags li,
 .down-content ul.post-share li {
	display: inline-block;
}

 .down-content ul.post-tags li:first-child i,
 .down-content ul.post-share li:first-child i {
	color:  rgb(136, 13, 30);
	margin-right: 5px;
}

 .down-content ul.post-tags li,
 .down-content ul.post-share li {
	color: #aaa;
}

 .down-content ul.post-tags li a,
 .down-content ul.post-share li a {
	font-size: 14px;
	color: #aaa;
	font-weight: 400;
	transition: all .3s;
}

 .down-content ul.post-tags li a:hover,
 .down-content ul.post-share li a:hover {
	color:  rgb(136, 13, 30);
}

 

/* Sidebar */

.sidebar {
	margin-left: 30px;
}

.sidebar .sidebar-item {
	margin-top: 50px;
}

.sidebar .search {
	margin-top: 0px;
}

.sidebar .sidebar-heading h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.5px;
	color: #20232e;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.sidebar .search input {
	width: 100%;
	height: 50px;
	border: 1px solid #eee;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	color: #7a7a7a;
	outline: none;
	padding: 0px 15px;
}

.sidebar .search input::placeholder {
	color: #aaa;
}

.sidebar .recent-posts ul li {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.sidebar .recent-posts ul li:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}

.sidebar .recent-posts ul li h5 {
	font-size: 19px;
	font-weight: 900;
	color: #20232e;
	line-height: 30px;
	transition: all 0.3s;
}

.sidebar .recent-posts ul li h5:hover {
	color:  rgb(136, 13, 30);
}

.sidebar .recent-posts ul li span {
	display: block;
	font-size: 14px;
	color: #aaa;
	margin-top: 8px;
}

.sidebar .categories ul li {
	margin-bottom: 15px;
}

.sidebar .categories ul li:last-child {
	margin-bottom: 0px;
}

.sidebar .categories ul li a {
	font-size: 15px;
	font-weight: 700;
	color: #20232e;
	transition: all .3s;
}

.sidebar .categories ul li a:hover {
	color:  rgb(136, 13, 30);
}

.sidebar .tags ul li {
	margin-right: 6px;
	display: inline-block;
}

.sidebar .tags ul li {
	margin-bottom: 10px;
}

.sidebar .tags ul li a {
	font-size: 15px;
	font-weight: 500;
	color: #aaa;
	display: inline-block;
	border: 1px solid #eee;
	padding: 10px 18px;
	transition: all .3s;
}

.sidebar .tags ul li a:hover {
	background-color:  rgb(136, 13, 30);
	border-color:  rgb(136, 13, 30);
	color: #fff;
}