:root {
    --primary-color: #772432;
    --secondary-color: #363636;
    --heading-color: #1A1A1A;
    --text-color: #808185;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

select {
    padding: 24px;
}

select option {
    margin-bottom: 20px;
}

/* NAVEBAR!!! */

.h-40 {
    height: 40px;
}

.navbar {
    border-bottom: 1px solid #EEEEEF;
    padding: 21px !important;
}

.navbar-collapse {
    flex-grow: unset !important;
}

.navbar-nav {
    gap: 32px;
}

.dropdown-menu {
    padding: 32px;
    border: none;
    border-radius: 8px;
}

.dropdown-menu li {
    margin-bottom: 20px;
}

.navbar .nav-link {
    padding: 0 !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.navbar-toggler {
    border: none;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: var(--primary-color) !important;
    text-decoration: underline;
}

.btn {
    width: 188px;
    height: 56px;
    border-radius: 64px;
    background: linear-gradient(90deg, #772432 0%, #A80F29 100%);
    color: #fff;
}

.btn:hover {
    color: white;
}

.title h3 {
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
}

.title p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.bg-dark {
    background: var(--heading-color) !important;
}

.black-bar {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}

/* HERO SECTION!!! */
#hero {
    background: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 458px;
}

/* SEARCH CONTAINER */
.search-bar {
    border: 1px solid #EEEEEF;
    background: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 4px 10px 0px #0000000D;
    margin-top: -40px;
    position: relative;
    z-index: 2;
}

.search-bar input,
.search-bar select {
    border: 1px solid #E4E4E7;
    height: 56px;
    padding-left: 40px;
}

.search-bar .filter {
    all: unset
}

.search-bar input:focus,
.search-bar select:focus,
.upcoming-select:focus {
    box-shadow: unset;
    border-color: var(--primary-color);
}

.search-bar .position-absolute {
    left: 10px;
    top: 15px;
}

.w-90 {
    width: 90% !important;
    margin-top: 10px;
}

/* EVENT SECTION */
#event-container {
    margin-top: 35px;
}

#event-container i {
    color: var(--primary-color);
    font-weight: 500;
}

#event-container .category-tabs {
    background: #F9F9F9;
    border-radius: 30px;
    padding: 8px 32px;
    overflow-x: auto;
    /* Enable horizontal scrolling */
}

#event-container .category-tabs ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    color: #535353;
    font-weight: 500;
    white-space: nowrap;
}

#event-container .category-tabs ul .nav-item.active {
    background: #000;
    width: auto;
    padding: 10px 20px;
    border-radius: 100px;
    color: #fff;
    text-align: center;
}

#event-container .category-tabs ul li {
    align-self: center;
    margin-right: 16px;
}

#event-container .category-tabs ul .nav-item .nav-link {
    display: block;
    padding: 0px 30px;
    border-radius: 100px;
    color: inherit;
    text-decoration: none;
}

@media (max-width: 768px) {
    #event-container .category-tabs ul {
        justify-content: flex-start;
    }

    #event-container .category-tabs ul li {
        margin-right: 8px;
    }

    #event-container .category-tabs ul .nav-item.active {
        width: auto;
        padding: 10px 20px;
    }
}

.upcoming-select {
    background: #F9F9F9;
    border: 1px solid #DDDEE0;
    border-radius: 16px;
    padding: 16px;
    color: #1a1a1a;
    width: 236px;
    height: 64px;
    border: 1px solid #DDDEE0;
}

.upcoming-select:focus-visible {
    outline: none;
}

.event-card {
    border: 2px solid #AF317680;
    background: #fff;
    border-radius: 16px;
    padding: 14px;
    margin-bottom: 28px;
}

 .location {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #67676a;
    /* white-space: nowrap; */
}

 h6 {
    color: var(--heading-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
}

#event-container .line {
    width: 1px;
    height: 56px;
    background: #DDDEE0;
    margin-top: 30px;
}

.gap-20 {
    gap: 100px;
}

.gap-12 {
    gap: 30px;
}

.date {
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 90px;
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--primary-color);
}

.highlight-card {
    border: 1px solid #EEEEEF;
    box-shadow: 0px 4px 15px 2px #0000000D;
    border-radius: 24px;
}

.highlight-card .img-fluid {
    border-radius: 24px 24px 0 0;
}

.highlight-card .content {
    padding: 24px;
}

#no-events .event-card,
#no-events .highlight-card {
    border: 1px solid #DDDEE0;
}

#section {
    padding: 80px 0;
}

.unleash {
    background: #FAF7F7;
    margin-top: 72px;
}

.unleash .dot1 {
    top: 0;
}

.unleash .dot2 {
    top: 50%;
    left: -54px;
}

.unleash .wave1 {
    bottom: 0;
    left: 0;
}

.unleash .dot3 {
    bottom: 0;
    right: 0;
}

.unleash .wave2 {
    top: -40px;
    right: -20px;
}

.events {
    border: 1px solid #EEEEEF;
    box-shadow: 0px 4px 15px 2px #0000000D;
    background: #fff;
    border-radius: 32px;
}

.swiper-button-next,
.swiper-button-prev {
    width: unset;
    position: unset;
    height: 60px;
}

.event h4 {
    color: #363636;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.clients .swiper-slide {
    width: 200px !important;
}

.event p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}

.img {
    cursor: pointer;
}

/* What we offer */

.what-we-offer {
    font-family: "Roboto", sans-serif;
    line-height: 27.2px;
    background: #FBFBFB;
}

.what-we-offer h4 {
    font-size: 16px;
    font-weight: 600;
    color: #363636;
    margin-top: 10px;
    margin-bottom: 18px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 56px;
    padding-left: unset !important;
}

.service-card {
    box-shadow: 0px 2px 15px 0px #0000001A;
    background: #fff;
    border-radius: 16px;
    padding: 20px 16px;
    height: 340px;
}

.service-card .card-icon {
    background-color: #FAF7F7;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

/* End What We Offer */

.footer {
    padding: 40px 0;
    background: url('../images/footer-bg.png');
    background-size: cover;
    background-position: center;
}

.footer .para {
    margin: 32px 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.social-media a {
    margin-right: 18px;
}

.footer .title .line {
    width: 213px;
    height: 4px;
    background: linear-gradient(90deg, #AF3176 0%, #EB8E30 100%);
    margin-bottom: 16px;
}

.footer .title h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.footer .list-unstyled li {
    margin-bottom: 16px;
}

.footer .border-t {
    height: 2px;
    background: linear-gradient(90deg, rgba(175, 49, 118, 0.8) 0%, rgba(235, 142, 48, 0.8) 100%);
    margin-bottom: 10px;
    margin-top: 30px;
}

.copy {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

@media (max-width: 1399px) {
    .gap-20 {
        gap: 90px;
    }
}

@media (max-width: 1199px) {
    .gap-20 {
        gap: 70px;
    }
}

@media (max-width: 768px) {

    .btn {
        width: 159.11px;
            height: 47.39px;
            border-radius: 54.16px;
    }

    .service-list {
        grid-template-columns: 1fr;
    }

    .black-bar {
        font-size: 20px;
        padding: unset !important;
    }

    h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
    }

    .upcoming-select {
        width: 218px;
        padding: 12px;
        height: auto;
    }

    .title h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
    }

    .title p {
        font-size: 16px;
        line-height: 24px;
        text-align: left;
    }

    .location {
        font-size: 12px;
        line-height: 12.17px;
    }

    h6 {
        font-size: 14px;
        line-height: 17.39px;
        margin: 6px 0;
    }

    .date {
        font-size: 34.78px;
        line-height: 52.17px;
    }

    .unleash .dot1 {
        display: none;
    }

    .unleash .dot2 {
        top: -20px;
        right: -10px;
    }

    .unleash .wave1 {
        top: 280px;
        left: 100px;
    }

    .unleash .dot3 {
        top: -40px;
        right: 150px;
    }

    .unleash .wave2 {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .events {
        padding: 20px;
    }
}

/* EVENTS LISTING PAGE */
#events-page {
    padding-bottom: 100px;
}

.search-bar.events {

    margin-top: unset;
    margin: 56px auto 53px;
}

#events-page .empty {
    color: #363636;
}

#events-page .empty h4, .not-empty h4 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: #363636;
}

#events-page .empty h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: 35px 0 17px;
}

#events-page .empty p {
    font-size: 20px;
    line-height: 30px;
}

#events-page .not-empty span {
        color: #363636;
        font-weight: 500;
}

@media (max-width: 768px) {
    #events-page .empty h4,
        .not-empty h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;

    }

    #events-page .empty h5 {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
    }

    #events-page .empty p {
        font-size: 18px;
        line-height: 25px;
    }
}

/* EVENT DETAILS PAGE */
#event-details-hero {
    background: url('../images/details-hero.png');
        background-size: cover;
        background-position: center;
        height: 252px;
}

#event-details-page {
    background: #FAF7F7;
    padding: 89px 0 64px;
}
#event-details-page .box {
background: #FFFFFF;
border-radius: 24px;
}
#event-details-page .details {
padding: 28px;
}
#event-details-page h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: var(--primary-color);
    margin: 20px 0;
}
#event-details-page .details p {
color: #67676A;
}
#event-details-page .info{
padding: 24px;
margin-bottom: 24px;
}
#event-details-page .date-time-venue div{
padding: 26px 0;
}
#event-details-page .date-time-venue div strong{
color: #363636;
}
#event-details-page .date-time-venue div.border-b{
border-bottom: 1px solid #EEEEEF;
}
#event-details-page .purchase-ticket, #event-details-page .purchase-ticket h5{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
#event-details-page .purchase-ticket h4, .add-to-calendar h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #363636;
}

#event-details-page .purchase-ticket .dot-b {
    border-bottom: 1px dotted #ABACB1;
}

#event-details-page .purchase-ticket .ticket-type{
background: #FAF7F7;
padding: 17px 21px;
border-radius: 16px;
}
#event-details-page .purchase-ticket .ticket-type p{
color: #363636;
font-weight: 600;
}
#event-details-page .purchase-ticket .ticket-type span{
color: var(--primary-color);
font-weight: 600;
}
#event-details-page .purchase-ticket .ticket-type .qty span{
color: #363636;
}

#event-details-page .purchase-ticket h5 {
    color: #67676a;
    font-weight: 600;
}
#event-details-page .total-section, .calendar-btns {
border: 1px solid #EEEEEF;
background: #fff;
border-radius: 16px;
padding: 17px 21px;
margin-top: 16px;
}

#event-details-page .total-section p {
    font-weight: 500;
}
#event-details-page .total-section span {
    font-weight: 600;
    color: #363636;
}

.calendar-btns .btn-outline {
    border: 1px solid #EEEEEF;
    background: transparent;
    width: 100%;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        color: #67676a;
        height: 42px;
        margin-bottom: 13px;
        border-radius: 8px;
}

.calendar-btns .btn-outline:first-child {
   margin-top: 13px;
}

.related-events .border-b {
    border-bottom: 1px solid #DFDFDF;
}

@media (max-width: 768px) {
#event-details-page h3 {
    font-size: 24px;
    line-height: 36px;
}
}